<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .Title }}
    <title>{{ .Title }} | GDD At Berkeley</title>
    {{ else }}
    <title>GDD At Berkeley</title>
    {{ end }}
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon.png">

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- TODO: small screen, scale image using pipeline -->
    <nav class="nav-bar">
        <a class="nav-title" href="todo">
            <img src="/images/icon.png" width="80" height="80">
            <div>GDD@Berkeley</div>
        </a>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </nav>
    <main>
    {{ .Content }}
    </main>
    <footer>
        <div id="footer-content">
            <p id="footer-text">
            Game Design and Development at Berkeley
            <br>
            We are a student group acting independently of the University of
            California. We take full responsibility for our organization and this web site.
            <br>
            Sponsored by <a href="https://asuc.org/" target="_blank">ASUC</a>
            </p>
            <a href="https://www.ocf.berkeley.edu" target="_blank">
                <img src="/images/ocf-hosted-penguin.svg" alt="Hosted by the OCF"/>
            </a>
        </div>
        <div id="footer-links">
            <a href="mailto:contact@gamedev.berkeley.edu">
                <img src="/images/footer_icons/email.png" width="30" height="30">
            </a>
            <a href="https://www.facebook.com/Game-Design-Development-at-Berkeley-1191501494351583" target="_blank">
                <img src="/images/footer_icons/facebook.png" width="30" height="30">
            </a>
            <a href="https://tinyurl.com/GDDatBerkeley" target="_blank">
                <img src="/images/footer_icons/discord.png" width="30" height="30">
            </a>
            <a href="https://twitter.com/GDDatBerkeley" target="_blank">
                <img src="/images/footer_icons/twitter.png" width="30" height="30">
            </a>
            <a href="https://www.instagram.com/gddatberkeley/" target="_blank">
                <img src="/images/footer_icons/instagram.png" width="30" height="30">
            </a>
        </div>
    </footer>
</body>

</html>
