@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  /* h2 and button */
  --blue1: #03A1FF;
  /* highlight and h1 */
  --orange1: #FFAF51;
}

body {
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;

  font-family: Sora, sans-serif;
  font-size: 20px;
  letter-spacing: 0em;
  text-align: left;
}

a {
  text-decoration: none;
}

.content {
  margin: auto;
  max-width: 1200px;
}

.columns-container {
  display: flex;
  align-items: center;
  gap: 110px;
  justify-content: space-evenly;
}

section {
  padding: 120px;
}

footer {
  background: #DCF1FE;
}

mark {
  color: var(--orange1);
  background: none;
}

p > mark {
  font-weight: 600;
}

h2 {
  color: var(--blue1);
  font-size: 45px;
  font-weight: 800;
}

main {
  position: relative;
  min-height: 80vh;
  margin: auto;
}

.button {
  padding: 12px;
  border-radius: 17px;
  background: var(--blue1);

  font-weight: bold;
  color: #FFF;
}

.button:hover {
}


/** nav bar (top bar) **/
.nav-bar {
  padding: 12px 50px;
  font-size: 27px;
  font-weight: bold;
  background: #DCF1FE;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-title {
  display: flex;
  align-items: center;
  gap: 30px;

  color: var(--blue1);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 54px;
}

.nav-bar a {
  color: var(--blue1);
}

.nav-bar a:hover {
  color: var(--orange1);
}
